.grid {
  display: grid;
  gap: var(--spacing-m);
  grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  margin: var(--spacing-m) 0;
}

.nft {
  color: inherit;
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nft:hover,
.nft:focus {
  box-shadow: none;
  top: -2px;
}

.nft > div:first-child {
  --aspect-ratio: 1 / 1;
  background-color: var(--gray-1);
  border-radius: var(--br-small);
  padding-bottom: calc(var(--aspect-ratio, 1 / 1) * 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}