.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.content p:last-child {
  margin-bottom: 0;
}
.content h1 {
  font-weight: var(--fw-black);
  font-size: 4rem;
  line-height: 0.9;
  margin-top: var(--spacing-l);
}
.content h2 {
  color: var(--accent);
  margin-top: var(--spacing-m);
  margin-bottom: calc(-1 * var(--spacing-m));
}

.lead,
.remaining {
  color: var(--gray-6);
}

@media (min-width: 500px) {
  .content {
    flex-direction: column-reverse;
  }
  .content h1 {
    margin-top: 0;
  }
}

.cta {
  margin-top: var(--spacing-s);
  width: 100%;
}

.labelWrap {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs) var(--spacing-m);
  justify-content: space-between;
}

.label {
  display: block;
  flex: 1 1 auto;
  font-weight: var(--fw-bold);
}