.reveal {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.reveal header {
  display: flex;
  justify-content: flex-end;
}

.reveal button {
  background-color: transparent;
  border: none;
  color: var(--gray-9);
  font-size: 3em;
  line-height: 1;
}

.reveal button:focus,
.reveal button:hover {
  background-color: transparent;
  color: var(--white);
}

.reveal figure {
  bottom: 10%;
  left: 0;
  margin: 0 auto;
  max-width: 18em;
  position: fixed;
  right: 0;
  width: 80%;
  animation: zoom 250ms ease-in;
  perspective: 1000px;
}

.reveal img {
  border: 1em solid var(--accent);
  border-radius: var(--br-base);
  transform-style: preserve-3d;
  animation: flip 10s infinite;
}

.reveal figcaption {
  color: var(--white);
  font-family: var(--heading);
  font-size: 3.5em;
  font-weight: var(--fw-black);
  text-align: center;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(600%);
  }

  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  20% {
    transform: rotateY(10deg);
  }

  30% {
    transform: rotateY(5deg);
  }

  35% {
    transform: rotateY(15deg);
  }

  50% {
    transform: rotateY(-380deg);
  }

  65% {
    transform: rotateY(-360deg);
  }

  100% {
    transform: rotateY(-360deg);
  }
}