.wrap {
  position: relative;
}

.globe {
  position: absolute;
  left: var(--spacing-s);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.globe svg {
  height: 1em;
  width: 1em;
}

.select {
  border: 1px solid transparent;
  padding-left: var(--spacing-l);
}
.select:hover,
.select:focus {
  border-color: var(--gray-3);
}
