/* Make sure these look good in light mode and dark mode!
 * If you omit any values, defaults will be used.
 */
$white: #fdf7fa;
$black: #262626;
$primary: #8c60bb;
$secondary: #4b8f8c;
$tertiary: #6b6ef9;
