.section {
  margin-bottom: var(--spacing-xl);
  margin-top: var(--spacing-xl);
}

.content {
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-s);
}

.content.hasMedia {
  display: grid;
}