/* This is a CSS Module; see https://create-react-app.dev/docs/adding-a-css-modules-stylesheet/ */
.bg {
  background-color: var(--gray-1);
  padding: var(--spacing-m) 0;
  margin-bottom: var(--spacing-l);
}

.content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-m);
  justify-content: space-between;
}

.content > * {
  flex: 1 1 auto;
}

.social {
  display: flex;
  gap: var(--spacing-s);
}

.social svg {
  height: var(--spacing-xl);
  width: var(--spacing-xl);
  vertical-align: middle;
}
.social svg path {
  fill: var(--accent);
}

.actions {
  display: flex;
  gap: var(--spacing-m);
  flex-wrap: wrap;
  justify-content: flex-end;
}

.button {
  font-size: var(--spacing-l);
  font-weight: var(--fw-black);
}